/* Main Footer Styling */
.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.096);
  padding: 20px;
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-section h5 {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 16px;
  color: #fff;
}

.footer-section h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 4px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.footer-section h5:hover::after {
  width: 100%;
}

.footer-section .about-button:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

.footer-link:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

.footer-section .contact-links:hover {
  color: #fff !important;
  text-decoration: underline !important;
}

.footer-section .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.footer-section .social-icon:hover {
  background-color: #fff !important;
  color: #000000 !important;
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.footer-bottom {
  font-size: 14px;
}