.navbar-toggler {
    border: none;
    background-color: transparent;
    color:#ffc000;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-brand {
    color: #0d6efd !important;
}


.navbar-nav .nav-link {
    font-weight: 500;
    transition: 0.2s ease;
    max-width: 100px;
    padding: 10px 0;
    color: #ffc000;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #ffc000;
}

.nav-link {
    font-weight: 500;
    transition: color 0.2s ease;
}

.live-time {
    font-size: 0.9rem;
    color: #ffc000 !important;
}

.live-date {
    font-size: 0.8rem;
    color: #ffc000 !important;
}

@media (min-width: 992px) {
    .navbar-nav {
        gap: 1rem;
    }
    .live-time,
    .live-date {
        min-width: 120px;
        text-align: right;
    }
}