.profile-dropdown .profile-toggle {
    border-radius: 50px;
    border-color: #ffc000;
    padding: 6px 12px;
    background-color:#212529;
    transition: background-color 0.2s ease-in-out;
    color: #ffc000;
}

.profile-dropdown .profile-toggle:hover {
    background-color: #494949;
}

.profile-menu {
    min-width: 200px;
    border-radius: 10px;
    border-color: #ffc000;
    padding: 10px 0;
    box-shadow: 0 8px 20px rgba(85, 101, 220, 0.1);
    background-color: #000000;
}

.profile-menu .dropdown-item {
    padding: 10px 16px;
    transition: background-color 0.2s;
}

.profile-menu .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #212529;
}

.profile-menu .btn-dashboard {
    color: #0d6efd;
}

.profile-menu .btn-dashboard:hover {
    color: #ffffff;
    background-color: #4e6686;
}

.profile-menu .text-danger:hover {
    background-color: #ff0000;
    color: white !important;
}