.profile-dropdown .profile-toggle {
    border-radius: 50px;
    border-color: #c2c2c2;
    padding: 6px 12px;
    background-color:#212529;
    transition: background-color 0.2s ease-in-out;
    color: #e9f2ff;
}

.profile-dropdown .profile-toggle:hover {
    background-color: #494949;
}

.profile-menu {
    min-width: 200px;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 8px 20px rgba(85, 101, 220, 0.1);
    background-color: #333942;
}

.profile-menu .dropdown-item {
    padding: 10px 16px;
    transition: background-color 0.2s;
}

.profile-menu .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #212529;
}

.profile-menu .btn-dashboard {
    color: #0d6efd;
}

.profile-menu .btn-dashboard:hover {
    color: #020074;
    background-color: #4e6686;
}

.profile-menu .text-danger:hover {
    background-color: #b47d7d;
}